<html>
  <body>
    <h1>IIS on Windows Server 2008 R2 - Managed by Chef!</h1>
	<br>
	This Server is currently configured by Chef!
	Recipe name: iisinstall
	Author: Lior Yantovski ly107h@att.com
	<br>
  </body>
</html>
